@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://coolors.co/355070-6d597a-b56576-e56b6f-eaac8b */
:root {
  --positive-bg-color: #EAAC8B;
  --negative-bg-color: #E56B6F;
  
  --sb-track-color: rgb(243 244 246);
  --sb-thumb-color: rgb(107, 114, 128);
  --sb-size: 16px;
  
  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  background-color: var(--sb-track-color);
  color: #000;
  scroll-padding: 10px;
}

::-webkit-scrollbar {
  width: var(--sb-size);
}

::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 8px;
  border: 4px solid var(--sb-track-color);
}